.mdl-checkbox{
    margin: 10%;
}
.mdl-data-table {
    table-layout:fixed;
    width:100%;
}
#purchase_orders td, th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#purchase_order td, th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

#purchase_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#statistics_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#products_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#employee_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#accountnumber_textfield{
    margin-top: 60px;
}
#back_button{
    position: absolute;
    margin-top: 20px;
}
.wrapper {
    text-align: center;
}
#add_product_to_purchase{
    overflow: visible;
}
#purchase_info_table{
    margin-bottom: 20px;
}
#back_button_order{
    margin-bottom: 20px;
}
#finish_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#cancel_purchase_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#add_purchase_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#add_product_to_purchase_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#confirm_button{
    margin-bottom: 20px;
}
#add_purchase_button_short{
    margin-bottom: 20px;
    margin-top: 20px;
}
#short_purchase_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#add_product_to_purchase_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#add_to_purchase_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#cancel_add_t_purchase_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#short_purchase_orders td, th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#logout_button {
    float: right;
    background: #1DE9B6 !important;
}
#employee_accountnumber{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#new_work_time_button{
    margin-top: 20px;
}
#save_employee_changes{
    margin-bottom: 20px;
}
#cancel_employee_changes{
    margin-bottom: 20px;
}
#work_times{
    overflow: visible;
}
#work_time_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#days_wrapper{
    width: 150px;
}
#begin_hours_wrapper{
    width: 150px;
}
#begin_minutes_wrapper{
    width: 150px;
}
#end_hours_wrapper{
    width: 150px;
}
#end_minutes_wrapper {
    width: 150px;
}
#add_work_times_table{
    margin-left: auto;
    margin-right: auto;
}
#save_new_work_time{
    margin-bottom: 20px;
}
#cancel_new_work_time{
    margin-bottom: 20px;
}
.checkbox_wrapper{
    margin-bottom: 20px;
}
#edit_work_times{
    overflow: visible;
}
#edit_work_time_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#edit_days_wrapper{
    width: 150px;
}
#edit_begin_hours_wrapper{
    width: 150px;
}
#edit_begin_minutes_wrapper{
    width: 150px;
}
#edit_end_hours_wrapper{
    width: 150px;
}
#edit_end_minutes_wrapper {
    width: 150px;
}
#edit_work_times_table{
    margin-left: auto;
    margin-right: auto;
}
#save_work_time{
    margin-bottom: 20px;
}
#cancel_work_time{
    margin-bottom: 20px;
}
#delete_work_time{
    margin-bottom: 20px;
}
#add_product_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#save_employee_changes_error{
    margin-bottom: 20px;
    margin-top: 20px;
}
#company_balance{
    text-align: center;
}
#distributewagebutton{
    margin-bottom: 20px;
    margin-top: 20px;
}
#cancelwagebutton{
    margin-bottom: 20px;
    margin-top: 20px;
}
#worktimemanual{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
#errorwagemanual{
    text-align: center;
}