.mdl-data-table {
    table-layout:fixed;
    width:100%;
}
#purchase_orders td, th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#purchase_order td, th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

#purchase_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#statistics_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#products_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#employee_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#accountnumber_textfield{
    margin-top: 60px;
}
#back_button{
    position: absolute;
    margin-top: 20px;
}
.wrapper {
    text-align: center;
}
#add_product_to_purchase{
    overflow: visible;
}
#purchase_info_table{
    margin-bottom: 20px;
}
#back_button_order{
    margin-bottom: 20px;
}
#finish_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#cancel_purchase_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#add_purchase_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#add_product_to_purchase_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#confirm_button{
    margin-bottom: 20px;
}
#add_purchase_button_short{
    margin-bottom: 20px;
    margin-top: 20px;
}
#short_purchase_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#add_product_to_purchase_heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#add_to_purchase_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#cancel_add_t_purchase_button{
    margin-bottom: 20px;
    margin-top: 20px;
}
#short_purchase_orders td, th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#logout_button {
    float: right;
    background: #1DE9B6 !important;
}
#employee_accountnumber{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.checkbox_wrapper{
    align-items: center;
}
