.mdl-data-table {
    table-layout:fixed;
    width:100%;
}
#purchase_orders td, th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#purchase_order td, th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#purchase_heading{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
#statistics_heading{
    margin-left: auto;
    margin-right: auto;
}
#products_heading{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
#employee_heading{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
