.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}

.mdl-layout {
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.mdl-layout__content {
  padding: 27%;
  flex: none;
}
#submit_button {
    float: right;
    position: relative;
    background: #1DE9B6 !important;
}

#submit_button:after{
    background-color: #1DE9B6 !important;
}

#submit_spinner{
    z-index: 1000;
    position: absolute;
    border-color: #FFFF00 !important;
}

#submit_spinner:after {
    z-index: 1000;
    border-color: #FFFF00 !important;
}
