.mdl-card{
    margin: auto;
}
#transfer_heading {
    margin-right: auto;
    margin-left: auto;
}
#company_heading{
    margin-right: auto;
    margin-left: auto;
}
#kontostand{
    margin-left: auto;
}
#business_icon{
    margin-right: auto;
    margin-left: auto;
}
#cash_icon{
    margin-right: auto;
    margin-left: auto;
}
.form{
    margin-left: auto;
    margin-right: auto;
}
#form{
    display: flex;
    justify-content:center;
    align-items: center;
}