.mdl-card{
    margin: auto;
}
#transfer_heading {
    margin-right: auto;
    margin-left: auto;
}
#company_heading{
    margin-right: auto;
    margin-left: auto;
}
#kontostand{
    margin-left: auto;
}
#business_icon{
    margin-right: auto;
    margin-left: auto;
}
#cash_icon{
    margin-right: auto;
    margin-left: auto;
}
.form{
    margin-left: auto;
    margin-right: auto;
}
#form{
    display: flex;
    justify-content:center;
    align-items: center;
}
#logout_button{
    float: right;
    background: #1DE9B6 !important;
}
#company_layout{
    align-items: center;
    justify-content: center;
}
#company_card{
    padding: 24px;
    flex: none;
}
#submit_button {
    float: right;
    position: relative;
    background: #1DE9B6 !important;
    z-index: 10;
}

#submit_button:after{
    background-color: #1DE9B6 !important;
    z-index: 10;
}

#submit_spinner{
    position:fixed;
    border-color: #FFFF00 !important;
    z-index: 1000;
}

#submit_spinner:after {
    border-color: #FFFF00 !important;
    z-index: 1000;
}