<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PrivateLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveAccount</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.SaveAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveAccount</servlet-name>
        <url-pattern>/admin/saveaccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostFinancialStatus</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostFinancialStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostFinancialStatus</servlet-name>
        <url-pattern>/postfinancialstatus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTransfers</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.GetTransfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTransfers</servlet-name>
        <url-pattern>/transfer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostTransfers</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostTransfers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostTransfers</servlet-name>
        <url-pattern>/posttransfers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyLogin</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.CompanyLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyLogin</servlet-name>
        <url-pattern>/companylogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveCompany</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.SaveCompany</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveCompany</servlet-name>
        <url-pattern>/admin/savecompany</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostProducts</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostProducts</servlet-name>
        <url-pattern>/postproducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetProduct</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.GetProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProduct</servlet-name>
        <url-pattern>/getproduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveQR</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.SaveQR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveQR</servlet-name>
        <url-pattern>/saveqr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlobstoreSaveImage</servlet-name>
        <servlet-class>de.repictures.fingerhut.Blobstore.SaveImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlobstoreSaveImage</servlet-name>
        <url-pattern>/blob/saveimage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetQR</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostQR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetQR</servlet-name>
        <url-pattern>/getqr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Authentificate</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.Authenticate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentificate</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.SendMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEditor</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.EditData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEditor</servlet-name>
        <url-pattern>/admin/editdata</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebLogin</servlet-name>
        <servlet-class>de.repictures.fingerhut.Web.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebLogin</servlet-name>
        <url-pattern>/web/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebMainPage</servlet-name>
        <jsp-file>/jsp/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebMainPage</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetShoppingRequest</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.GetShoppingRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetShoppingRequest</servlet-name>
        <url-pattern>/getshoppingrequest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Datenschutzerklaerung</servlet-name>
        <jsp-file>/jsp/datenschutzerklaerung.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Datenschutzerklaerung</servlet-name>
        <url-pattern>/datenschutz</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostShoppingRequest</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostShoppingRequests</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostShoppingRequest</servlet-name>
        <url-pattern>/postpurchaseorders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginConfirmation</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.LoginConfirmation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginConfirmation</servlet-name>
        <url-pattern>/confirmlogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompletePurchaseOrder</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.CompletePurchaseOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompletePurchaseOrder</servlet-name>
        <url-pattern>/completepurchaseorder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebCompany</servlet-name>
        <jsp-file>/jsp/company.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebCompany</servlet-name>
        <url-pattern>/company</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostWageTaxes</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostWageTaxes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostWageTaxes</servlet-name>
        <url-pattern>/postwagetaxes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostEmployees</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostEmployees</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostEmployees</servlet-name>
        <url-pattern>/postemployees</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetEmployee</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.GetEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetEmployee</servlet-name>
        <url-pattern>/getemployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransferWage</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.TransferWage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferWage</servlet-name>
        <url-pattern>/admin/transferwage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>blub</servlet-name>
        <jsp-file>jsp/blub.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>blub</servlet-name>
        <url-pattern>/admin/blub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditBalance</servlet-name>
        <jsp-file>jsp/edit_balance.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBalance</servlet-name>
        <url-pattern>/admin/editbalance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditBalanceServlet</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.EditBalance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBalanceServlet</servlet-name>
        <url-pattern>/admin/editbalanceservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Signoff</servlet-name>
        <servlet-class>de.repictures.fingerhut.Web.SignOff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signoff</servlet-name>
        <url-pattern>/signoff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostStats</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostStats</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostStats</servlet-name>
        <url-pattern>/poststats</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPrepaidAccount</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.AddPrepaidAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPrepaidAccount</servlet-name>
        <url-pattern>/addprepaid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeMoney</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.ChangeMoney</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeMoney</servlet-name>
        <url-pattern>/changemoney</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterPerson</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.RegisterPerson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterPerson</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetStats</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.ResetStats</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetStats</servlet-name>
        <url-pattern>/admin/resetstats</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetAccountTimes</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.SetAccountTimes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetAccountTimes</servlet-name>
        <url-pattern>/admin/setaccounttimes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SquareCustoms</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.SquareCustoms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SquareCustoms</servlet-name>
        <url-pattern>/squarecustoms</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCompany</servlet-name>
        <jsp-file>jsp/add_company.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCompany</servlet-name>
        <url-pattern>/admin/addcompany</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowTransfers</servlet-name>
        <jsp-file>jsp/show_transfer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowTransfers</servlet-name>
        <url-pattern>/showtransfers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageEmployees</servlet-name>
        <jsp-file>jsp/manage_employees.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageEmployees</servlet-name>
        <url-pattern>/admin/manageemployees</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.AddEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/admin/addemployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckWebstring</servlet-name>
        <servlet-class>de.repictures.fingerhut.Web.CheckWebstring</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckWebstring</servlet-name>
        <url-pattern>/checkwebstring</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DoAdminTransfer</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.AdminTransfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoAdminTransfer</servlet-name>
        <url-pattern>/admin/doadmintransfer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminTransfer</servlet-name>
        <jsp-file>jsp/admin_transfer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTransfer</servlet-name>
        <url-pattern>/admin/admintransfer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DoResetLockedAccount</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.ResetLockedAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoResetLockedAccount</servlet-name>
        <url-pattern>/admin/doresetlockedaccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetLockedAccount</servlet-name>
        <jsp-file>jsp/admin_reset_locked_account.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetLockedAccount</servlet-name>
        <url-pattern>/admin/resetlockedaccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DoAdminTransferWage</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.AdminTransferWage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoAdminTransferWage</servlet-name>
        <url-pattern>/admin/doadmintransferwage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminTransferWage</servlet-name>
        <jsp-file>jsp/admin_transfer_wage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTransferWage</servlet-name>
        <url-pattern>/admin/admintransferwage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransferBasicIncome</servlet-name>
        <servlet-class>de.repictures.fingerhut.Admin.PayBasicIncome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferBasicIncome</servlet-name>
        <url-pattern>/admin/paybasicincome</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>everything</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>