<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PrivateLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveAccount</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.SaveAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveAccount</servlet-name>
        <url-pattern>/saveaccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostFinancialStatus</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostFinancialStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostFinancialStatus</servlet-name>
        <url-pattern>/postfinancialstatus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTransfers</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.GetTransfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTransfers</servlet-name>
        <url-pattern>/transfer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostTransfers</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostTransfers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostTransfers</servlet-name>
        <url-pattern>/posttransfers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyLogin</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.CompanyLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyLogin</servlet-name>
        <url-pattern>/companylogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveCompany</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.SaveCompany</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveCompany</servlet-name>
        <url-pattern>/savecompany</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostProducts</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostProducts</servlet-name>
        <url-pattern>/postproducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetProduct</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.GetProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProduct</servlet-name>
        <url-pattern>/getproduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveQR</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.SaveQR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveQR</servlet-name>
        <url-pattern>/saveqr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlobstoreSaveImage</servlet-name>
        <servlet-class>de.repictures.fingerhut.Blobstore.SaveImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlobstoreSaveImage</servlet-name>
        <url-pattern>/blob/saveimage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetQR</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostQR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetQR</servlet-name>
        <url-pattern>/getqr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Authentificate</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.Authenticate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentificate</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.SendMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountSetter</servlet-name>
        <servlet-class>de.repictures.fingerhut.Debug.AccountSetter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountSetter</servlet-name>
        <url-pattern>/setaccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebLogin</servlet-name>
        <servlet-class>de.repictures.fingerhut.Web.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebLogin</servlet-name>
        <url-pattern>/web/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebMainPage</servlet-name>
        <jsp-file>/jsp/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebMainPage</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetShoppingRequest</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.GetShoppingRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetShoppingRequest</servlet-name>
        <url-pattern>/getshoppingrequest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Datenschutzerklaerung</servlet-name>
        <jsp-file>/jsp/datenschutzerklaerung.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Datenschutzerklaerung</servlet-name>
        <url-pattern>/datenschutz</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostShoppingRequest</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.PostShoppingRequests</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostShoppingRequest</servlet-name>
        <url-pattern>/postpurchaseorders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginConfirmation</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.LoginConfirmation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginConfirmation</servlet-name>
        <url-pattern>/confirmlogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompletePurchaseOrder</servlet-name>
        <servlet-class>de.repictures.fingerhut.Backend.CompletePurchaseOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompletePurchaseOrder</servlet-name>
        <url-pattern>/completepurchaseorder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebCompany</servlet-name>
        <jsp-file>/jsp/company.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebCompany</servlet-name>
        <url-pattern>/company</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>everything</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>